# use vi mode
set editing-mode vi

# Enable Readline not waiting for additional input when a key is pressed.
# => removes delay after ESC in leaving ins mode
set keyseq-timeout 50

# Keymaps for when we're in command mode (e.g., after hitting ESC)
set keymap vi-command

# disable "v" in command mode
v: ""

# Keymaps for when we're in insert (i.e., typing stuff in) mode
set keymap vi-insert

set show-mode-in-prompt on

# color
set vi-ins-mode-string \1\e[35;1m\2[ins]\1\e[0m\2
set vi-cmd-mode-string \1\e[36;1m\2[cmd]\1\e[0m\2
